<div class="flex flex-col p-16 flex-auto min-w-0">
    <!-- Main -->
    <fuse-card class="flex flex-col flex-wrap p-16 w-auto w-full filter-info"
    ><!---->

        <p
            class="p-3 sm:text-1xl lg:text-2xl text-center border-blue-900 shadow-sm w-full mr-5 border-left-green mt-14 font-bold"
        >
            Register a new Exercise
        </p>

        <div class="p-5 mt-5">

            <form
                novalidate=""
                (ngSubmit)="registerWorkout()"
                [formGroup]="registerWorkoutForm"
            >
                <p class=" ">
                    <mat-form-field class="w-1/4 p-1.5" appearance="outline">
                        <mat-label>Rest</mat-label>
                        <input
                            matInput
                            formControlName="rest_time"
                            type="text"
                            placeholder="Placeholder"
                        />
                    </mat-form-field>
                    <mat-form-field class="w-1/4 p-1.5" appearance="outline">
                        <mat-label>Repetitions</mat-label>
                        <input
                            matInput
                            formControlName="repetitions"
                            placeholder="Placeholder"
                        />
                    </mat-form-field>

                    <mat-form-field class="w-1/4 p-1.5" appearance="outline">
                        <mat-label>Observations</mat-label>
                        <input
                            matInput
                            formControlName="observations"
                            placeholder="Placeholder"
                        />
                    </mat-form-field>
                    <mat-form-field class="w-1/4 p-1.5" appearance="outline">
                        <mat-label>Variation</mat-label>
                        <input
                            matInput
                            formControlName="variation"
                            placeholder="Placeholder"
                        />
                    </mat-form-field>
                </p>
                <mat-label>Exercises</mat-label>
                <ng-select
                    class="w-full"
                    [items]="exercises"
                    [searchable]="true"
                    multiple="true"
                    bindLabel="name"
                    bindValue="id"
                    placeholder="Select exercices"
                    appearance="outline"
                    formControlName="exercicesIDs"
                >
                </ng-select>
                <mat-label>Student</mat-label>
                <ng-select
                    class="w-full"
                    [items]="students"
                    [searchable]="true"
                    bindLabel="name"
                    bindValue="id"
                    placeholder="Select the student"
                    appearance="outline"
                    formControlName="studentID"
                >
                </ng-select>

                <mat-label>Coach</mat-label>
                <ng-select
                    class="w-full"
                    [items]="coaches"
                    [searchable]="true"
                    bindLabel="name"
                    bindValue="id"
                    placeholder="Select the student"
                    appearance="outline"
                    formControlName="coachID"
                >
                </ng-select>

                <div class="flex flex-col-reverse">
                    <button
                        class="btn btn-primary"
                        type="submit"
                        mat-flat-button
                        color="primary"
                    >
                        Register
                    </button>
                </div>
            </form>
        </div>
    </fuse-card>
</div>
